# Intro

In [1]:
print("hello worlds")

hello worlds

# Variables

In [2]:
x = 3

In [3]:
%whos

Variable   Type    Data/Info
----------------------------
x          int     3

In [4]:
print(type(x))

<class 'int'>

In [5]:
x= 5.7

In [6]:
%whos

Variable   Type     Data/Info
-----------------------------
x          float    5.7

In [7]:
print(type(x))

<class 'float'>

In [8]:
abcd = 556.4

In [9]:
%whos

Variable   Type     Data/Info
-----------------------------
abcd       float    556.4
x          float    5.7

In [10]:
a,b,c,d,f = 3,5,6.0,7.2,-3

In [12]:
%whos

Variable   Type     Data/Info
-----------------------------
a          int      3
abcd       float    556.4
b          int      5
c          float    6.0
d          float    7.2
f          int      -3
x          float    5.7

In [13]:
del abcd

In [14]:
%whos

Variable   Type     Data/Info
-----------------------------
a          int      3
b          int      5
c          float    6.0
d          float    7.2
f          int      -3
x          float    5.7

In [15]:
print(abcd)

NameError: name 'abcd' is not defined

In [16]:
c = 2+4j

In [17]:
print(type(c))

<class 'complex'>

In [18]:
s = "hello worlds"

In [19]:
print(type(s))

<class 'str'>

# This is a level 2 heading

+ add
- sub
/ div
% mod
* mul
// floor div
** pow

In [23]:
%whos

Variable   Type       Data/Info
-------------------------------
a          int        3
b          int        5
c          complex    (2+4j)
d          float      7.2
f          int        -3
s          str        hello worlds
x          float      5.7

In [24]:
sumAB = a+b

In [25]:
print(sumAB)

8

In [26]:
print(type(sumAB))

<class 'int'>

In [27]:
type(a+d)

float

In [28]:
v = ((a+d)**3)/5

In [29]:
print(v)

212.24159999999998

In [30]:
s1 = "hello"
s2 = "worlds"
s = s1 + s2 
print(s)

helloworlds

In [31]:
10//3

3

In [32]:
10/3

3.3333333333333335

In [33]:
_
#default last known not saved

3.3333333333333335

#var naming
no num at front
no special symbol except _
no stored function name

In [1]:
_e = 6

In [2]:
startingTimeOfLecture = 2.5

In [3]:
%whos

Variable                Type     Data/Info
------------------------------------------
startingTimeOfLecture   float    2.5

# Comparisons

== true if equal
!= true if not equal
< less than
> more than
<= less than or equal to
>= greater than or equal to


and (both true than true, both false than true ) 111,001

or (both true than false, both false than false) 011,101

not (inverse)

# Bool

In [4]:
a = True
b = True
c = False

In [6]:
print(a and b)
print(a and c)
print(c and a)

True
False
False

In [7]:
 d = a or c

In [8]:
print(d)

True

In [9]:
not(b)

False

In [10]:
not(c)

True

In [12]:
t = not(b)

In [13]:
type(t)

bool

In [14]:
print(t)

False

In [15]:
not((a and b) or (c or d))

False

# Comparisons

In [16]:
print(2<3)

True

In [17]:
c = 2<3

In [20]:
print(type(c))
print(c)

<class 'bool'>
True

In [21]:
d = 3==4

In [22]:
print(d)

False

In [23]:
3 == 3.0

True

In [24]:
x = 4
y = 9
z = 8.3
r = -3

In [26]:
(x<y) and (z<y) or (r==x)

True

In [27]:
(x<y) and (r==x) or (z<y)

True

In [28]:
(True or False) and False

False

In [29]:
print((not(2!=3)and True) or (False and true))

False

### some useful function

In [ ]:
#round()

In [30]:
print(round(4.556))

5

In [31]:
print(round(3.345))

3

In [32]:
print(round(4.556789,2))

4.56

In [33]:
print(round(4.556789,3))

4.557

In [34]:
#divmod(x,y)

In [38]:
g = divmod(34,9)

In [39]:
print(type(g))

<class 'tuple'>

In [41]:
print(g)

(3, 7)

In [45]:
print(g[0])
print(g[1])

3
7

In [47]:
34//9 #same as above

3

In [48]:
#isinstance()

In [51]:
isinstance(3,int) #is 3 int?

True

In [52]:
isinstance(3.4,(float,int))

True

In [54]:
isinstance(2+3j,(int,float,str,complex))

True

In [55]:
#pow()

In [56]:
pow(2,4)

16

In [57]:
2**4 #same as above

16

In [58]:
pow(2,4,7)  #(x^y)%Z

2

In [59]:
#input()

In [64]:
x = input("enter a number : ")

enter a number : 56

In [65]:
type(x)

str

In [66]:
x = int(x)

In [67]:
type(x)

int

In [68]:
a = float(input("enter a real number : "))

enter a real number : 546

In [69]:
type(a)

float

In [70]:
a = float(input("enter a real number : "))

enter a real number : avc

ValueError: could not convert string to float: 'avc'

In [71]:
#how to use function

In [72]:
pow?

In [73]:
#how to see implementation

In [74]:
pow??

In [75]:
help(pow)

Help on built-in function pow in module builtins:

pow(base, exp, mod=None)
    Equivalent to base**exp with 2 arguments or base**exp % mod with 3 arguments

    Some types, such as ints, are able to use a more efficient algorithm when
    invoked using the three argument form.

In [ ]:
#input()

In [76]:
a = int(input())
b = int(input())

#print bigger num only

if a > b:
    print(a)
else:
    print(b)

1
2
2

In [77]:
a = int(input())
b = int(input())
if a>b:
    print(a)
    print("i am still inside if condition")
    x=5
print("i am outside the if condition")

1
2
i am outside the if condition

In [78]:
a = int(input())
b = int(input())
if a>b:
    print(a)
if b>a:
    print(b)

10
45
45

In [80]:
a = int(input())
b = int(input())
if a>b:
    print(a)
    print("if part")
else:
    print(b)
    print("else part")

1
2
2
else part

In [86]:
a = 1 
b = 5
if a==b:
    print("equal")
elif a>b:
    print("A")
else:
    print("B")
print("not in if")

B
not in if

In [87]:
#alternate version of coding horizontal
a = 9
b =10
print("A") if a > b else print("=") if a == b else print("B")

B

In [90]:
a = int(input("enter marks : "))

if a >= 80:
    print("A grade")
elif (a < 80) and (a >= 80):
    print("A- grade ")
elif (a < 80) and (a >= 75):
    print("B grade")
elif (a < 75 and a >= 70):
    print("B- grade")
else:
    print("below average")

enter marks : 19
below average

In [92]:
#using not in place of else
a = 3

if a > 10:
    print(" > 10 ")
elif not(a > 10):
    print("else part")

else part

In [97]:
#control flow (nested if)

a = int(input("enter a number : "))

if a > 10:
    print(" > 10")
    print(" inside the top if")
    if a > 20:
        print("> 20")
        print("inside the nested if")
    else:
        print("<=20")
        print("inside the else part of nested if")
print("outside all ifs")

enter a number : 12
 > 10
 inside the top if
<=20
inside the else part of nested if
outside all ifs

In [99]:
a = int(input("enter a number : "))

if a > 10:
    print(" > 10")
    print(" inside the top if")
    if a > 20:
        print("> 20")
        print("inside the nested if")
        if a > 30:
            print(" > 30 ")
            print(" inside the nested if of nested if ")
        else:
            print(" <= 30")
            print("inside the else part of nested if of nested if")
    else:
        print("<=20")
        print("inside the else part of nested if")
print("outside all ifs")

enter a number : 25
 > 10
 inside the top if
> 20
inside the nested if
 <= 30
inside the else part of nested if of nested if
outside all ifs

# comment

In [103]:
# single line comment

"""
multi line comment
"""

'\nmulti line comment\n'

In [8]:
x = float(input("enter a real number :"))
y = round(x)
if x > 0:
    if y>x:
        intPortion = y - 1
    else:
        intPortion = y
else:
    if y<x:
        intPortion = y+1
    else:
        intPortion = y

if intPortion%2 == 0:
    print(intPortion , "is  even")
else:
    print(intPortion, "is  odd")

enter a real number :123.4
123  odd

# loops

In [12]:
#while

n= int(input())
i =1
while i < n:
    print(i**2)
    print("this is iteration number : ", i)
    i+=1
print("loop end")

10
1
this is iteration number :  1
4
this is iteration number :  2
9
this is iteration number :  3
16
this is iteration number :  4
25
this is iteration number :  5
36
this is iteration number :  6
49
this is iteration number :  7
64
this is iteration number :  8
81
this is iteration number :  9
loop end

In [13]:
#loops break/continue

In [15]:
n = 10
i = 1
while True:
    if i % 9 == 0:
        print("inside if")
        break
    else:
        i += 1
        print("inside else")
print("loop end")

inside else
inside else
inside else
inside else
inside else
inside else
inside else
inside else
inside if
loop end

In [1]:
n = 10
i = 1
while True:
    if i % 9 != 0:
        print("inside if")
        i += 1
        continue
    print("something")
    print("something else")
    break
    
print("done")

inside if
inside if
inside if
inside if
inside if
inside if
inside if
inside if
something
something else
done

In [2]:
#for loop

In [8]:
L = [] #list
for i in range(0,10,2): #start with 0 to 10 with 2 jumps
    print(i+1)
    L.append(i**2)
print(L)

1
3
5
7
9
[0, 4, 16, 36, 64]

In [13]:
#else in for loops
s = {"apples",4.7,"cherry"} 
i = 1

for x in s:
    print(x)
    i += 1
    if i==3:
        break
    else:
        pass
else:
    print("loops completed")
    
print("outside of loops")

cherry
4.7
outside of loops

In [15]:
D = {"A":10,"B":-19,"C":"abc"} #dictionary
for x in D:
    print(x,D[x])

A 10
B -19
C abc

In [23]:
"""
given a list of numbers i.e [1,2,4,-5,7,9,3,2], make another list that contains all the items in sorted order from min to max. ie your result will be another list like [-5,1,2,2,3,7,9]
"""
L= [1,2,4,-5,7,9,3,2]
for j in range(len(L)):
    m = L[j]
    idx = j
    c = j
    for i in range(j, len(L)):
        if L[i] < m:
            m = L[i]
            idx = c
        c += 1
    tmp = L[j]
    L[j] = m
    L[idx] = tmp
print(L)


#create method to find min first
#how to make min save to lowest index
#loop for whole list

[-5, 1, 2, 2, 3, 4, 7, 9]

In [25]:
#functions

def printSuccess():
    print("i am done")
    print("send me another task")

In [26]:
printSuccess()

i am done
send me another task

In [43]:
def printSuccess2(): #shows the use of """ """ in function as info in docstring
    """
    this functions is gonna be lit
    
    """
    
    print("probably")
 #see the docstring

In [44]:
printSuccess2?    " alt is printSuccess??"

SyntaxError: invalid syntax (Temp/ipykernel_1088/3813902761.py, line 1)

In [45]:
len?

In [46]:
len?? #if both same ? and ?? probbly function is implemented from c not ntive pythn

In [47]:
help(printSuccess2)

Help on function printSuccess2 in module __main__:

printSuccess2()
    this functions is gonna be lit

In [57]:
#function input argument
def printMsg(msg):
    
    """
    the function prints the message supplied by the user or prints that msg is not in the form of string
    """
    if isinstance(msg,str):
        print(msg)
    else:
        print("your input argument is not a string")
        print("your input argument is ", msg)

In [58]:
printMsg(23)

your input argument is not a string
your input argument is  23

In [56]:
isinstance??

In [59]:
printMsg?

In [60]:
#function input argumentssssssssssssssss more than one ahahaha

In [61]:
def mypow(a,b):
    """
    this function returns the power
    """
    c =a ** b
    print(c)

In [64]:
mypow(2,3)

8

In [66]:
def checkArgs(a,b,c):
    if isinstance(a,(int,float)) and isinstance(b,(int,float)) and isinstance(c,(int,float)):
        print((a+b+c)**2)
    else:
        print("error: the input arguments are not of the expected types")

In [67]:
checkArgs(3,4,5)

144

In [69]:
def f(a,b,c):
    print("A is :" ,a)
    print("B is :" ,b)
    print("C is :" ,c)

In [71]:
#f(2,3,"game")
f(3,"game",2)

A is : 3
B is : game
C is : 2

In [72]:
f(a =2,b=3,c="game") #another way to make it the correct arguments by order

A is : 2
B is : 3
C is : game

In [3]:
def myadd(a,b):
    sumVal = a + b
    return sumVal

In [5]:
d = myadd(2,3)
print(d)

5

In [8]:
variableOutside = 3

In [9]:
def g(): #this variable is temp only
    variableOutside = 5
    print(variableOutside) # when u call the fuction it actually call the return value, in this case a print
    #if dont set return python auto put it as none

In [14]:
print(type(g()))

5
<class 'NoneType'>

In [15]:
print(variableOutside)

3

In [16]:
print(type(g)

<class 'function'>

In [17]:
#return acts like break in loops and u can put return without arguments..
def h():
    print("A")
    a = 3
    b =5
    c =a + b
    print("something")
    return
    print("B")
    print("C")

In [18]:
h()

A
something

In [19]:
print(h())

A
something
None

In [20]:
print(type(h()))

A
something
<class 'NoneType'>

In [21]:
def r(): #return multiple value with diff type
    a =5
    b =7
    d ="something"
    return a,b,d

In [23]:
x,y,z =r()
print(x,y,z)

5 7 something

In [24]:
def myAddUniversal(*args): #function with no set number of arguments
    s = 0 
    for i in range(len(args)):
        s += args[i]  # s = s+ args[i]
    return s

In [25]:
myAddUniversal(2,4,5)

11

In [27]:
def printAllVarNamesAndValues(**args): #for dictionry type args
    for x in args:
        print("variable name is :",x," and value is : ", args[x])

In [28]:
printAllVarNamesAndValues(a=3,b="B",c="ccc",y=6.7)

variable name is : a  and value is :  3
variable name is : b  and value is :  B
variable name is : c  and value is :  ccc
variable name is : y  and value is :  6.7

In [29]:
#function default values
def f(sum =0):
    print(sum)

In [30]:
def gg(s=4): #default value
    print(s)

In [31]:
#about shallow copy and such
gg()

4

In [32]:
gg(56)

56

In [33]:
L = [1,2,3]
L2 = L
L2[0] = -9
print(L)

[-9, 2, 3]

In [34]:
def ff(L=[1,2]):
    for i in L:
        print(i)

In [36]:
L2 = [12,3,4]
ff(L2)

12
3
4

In [37]:
ff()

1
2

In [17]:
#modules
#created a function saved in a folder same as notebook

import sys
sys.path.append('C:\\Users\\Mell\\OneDrive\\Desktop\\notebook\\sampleModules')

In [16]:
import my_universal_functions as myfs #import all func

In [43]:
myfs.addAllNumerics??

In [44]:
c = myfs.addAllNumerics(2,3,4,5)

In [45]:
print(c)

14

In [47]:
from my_universal_functions import addAllNumerics as nms #import only 1 func

z = nms(2,3,4,5,6,7)
print(z)

27

In [49]:
myfs.myName

'python course'

In [11]:
"""
given a list of numbers i.e [1,2,4,-5,7,9,3,2], make another list that contains all the items in sorted order from min to max. ie your result will be another list like [-5,1,2,2,3,7,9]
"""

def findMin(L,startIndx):
    m = L[startIndx]
    idx = startIndx
    for i in range(startIndx,len(L)):
        x = L[i]
        if x < m:
            m = x
            idx =i
        else:
            pass
        
        i += 1
    return m,idx

In [12]:
a,b = findMin([2,3,4,0,9])

TypeError: findMin() missing 1 required positional argument: 'startIndx'

In [13]:
print(a,b)

0 3

In [6]:
def swapValues(L,idx1,idx2): #swap 2 values
    tmp = L[idx1]
    L[idx1] = L[idx2]
    L[idx2] = tmp
    return L

In [7]:
L = [2,3,6,7]
L2 = swapValues(L,1,3)

In [8]:
print(L2)

[2, 7, 6, 3]

In [29]:
from my_universal_functions import checkIfNotNumeric
def sortList(L):
    if not(checkIfNotNumeric2(L)):
        print("error: list does not contain numeric values")
        return
    else:
        c = 0
        for x in L:
            m,idx = findMin(L,c)
            L = swapValues(L,c,idx)
            c += 1
    return L

In [30]:
L2 = sortList([2,1,5,3,-8,17])
print(L2)

[-8, 1, 2, 3, 5, 17]

In [21]:
checkIfNotNumeric??

In [22]:
checkIfNotNumeric([2,1,5,3,-8,17])

False

In [25]:
def checkIfNotNumeric2(L):
    for x in L:
        if not(isinstance(x,(int,float))):
            return False
    return True

In [26]:
checkIfNotNumeric2([2,1,5,3,-8,17])

True

In [31]:
#string is a sequel of char
s = " python is a good language"
t = " its good for data science"

In [32]:
type(s)

str

In [33]:
print(s)

 python is a good language

In [34]:
print(s + t)

 python is a good language its good for data science

In [36]:
print("hellow",12,"hellow2", "who are you", 5.9)

hellow 12 hellow2 who are you 5.9

In [38]:
v = s + "  " +t
print(v)

 python is a good language   its good for data science

In [45]:
price = 12
s = " the price of this book"
v = s + " is " + str(price) #change the type to str
print(v)
print(s,"is", price) #print auto create the space

 the price of this book is 12
 the price of this book is 12

In [46]:
#multi line string use """ """

mulstring = """

something loike this


"""

In [47]:
a = """this is line 1
this is line 2
this is last line and this line is 3

"""
print(a)

this is line 1
this is line 2
this is last line and this line is 3

In [48]:
print(""" The following options are available:
-a : does nothing
-b : also does nothing
""")

 The following options are available:
-a : does nothing
-b : also does nothing

In [49]:
s = "how are you and who are you"
print(s[5])

r

In [50]:
type(s[5])

str

In [52]:
s[3:9] #char 3(inc) to 9

' are y'

In [54]:
s[0:10] #from 0 to 10th

'how are yo'

In [55]:
s[-1]

'u'

In [58]:
s[-3] #minus means form the left

'y'

In [57]:
s[-8:-3] #also known slicing

' are '

In [60]:
s[-12:-3]

' who are '

In [62]:
s[1] = "e" #new char cannot assign new one...cause string is immutable

TypeError: 'str' object does not support item assignment

In [64]:
s[0:12:2] #from 0(inc) to 12 , skip 2

'hwaeyu'

In [65]:
s[:12] #start form 0(inc)

'how are you '

In [67]:
s[3:] #start from last(inc)

' are you and who are you'

In [69]:
s[::-1] #swap the string

'uoy era ohw dna uoy era woh'

# String functions

In [70]:
a = "     abc       def            hqg asdfqwed"
b= a.strip() #remove space from begin and end
print(b)

abc       def            hqg asdfqwed

In [71]:
a = "ABC deFg ;; sadfa QF"
b = a.lower() #make it lower case
print(b)

abc defg ;; sadfa qf

In [72]:
a = "ABC deFg ;; sadfa QF"
b = a.upper() #make it upper case
print(b)

ABC DEFG ;; SADFA QF

In [74]:
d = a.replace(";","*")
print(d)

ABC deFg ** sadfa QF

In [76]:
d = a.replace(";;","two semi colons")
print(d)

ABC deFg two semi colons sadfa QF

In [78]:
a = "abc;def;hyfge;314"
L = a.split(";") #split return a list
print(L)

['abc', 'def', 'hyfge', '314']

In [80]:
print(a.capitalize())

Abc;def;hyfge;314

In [81]:
"abc" in " asdasdmuqbfdasdmquihdxaa;dqudh"

False

In [82]:
"abc" == "abc"

True

In [83]:
"abc" not in " asdasdmuqbfdasdmquihdxaa;dqudh"

True

In [84]:
print("we are learnign \"string\" here") #print multiple " "

we are learnign "string" here

In [85]:
print('we are learning "string" here')

we are learning "string" here

In [86]:
print("we are \t now on another line")

we are 	 now on another line

In [87]:
print("c:\name\drive")  #cos \n is newline

c:
ame\drive

In [89]:
print(r"c:\name\drive") #raw string

c:\name\drive